[submodule "emacs/haskell-mode"]
	path = emacs/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "emacs/plugins/yasnippet"]
	path = emacs/plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "emacs/plugins/slime"]
	path = emacs/plugins/slime
	url = git://github.com/nablaone/slime.git
[submodule "emacs/plugins/coffee-mode"]
	path = emacs/plugins/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "emacs/plugins/haskell-mode"]
	path = emacs/plugins/haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "emacs/plugins/flymake-ruby"]
	path = emacs/plugins/flymake-ruby
	url = git://github.com/purcell/flymake-ruby.git
